.header {
	height: 80px;
	background-color: #e3e3e3;
	display: flex;
	justify-content: space-between;
	}

.header_title {
	font-size: 45px;
	font-family: Droid Serif;
	display: flex;
	flex-direction: row;
	margin-left: 30px;
	margin-top: 5px;
}

.navbar h4{
	font-size: 20px;
	font-family: Droid Serif;
}

.navbar {
	width: 450px;
	display: flex;
	flex-direction: row;
}

.content {
	background-color: #f3f3f3;
	height: 800px;
}

.content img {
	width: 500px;
}

.content h2 {
	font-size: 100px;
	font-family: Futura Bold;
}

.content h4 {
	font-size: 25px;
	font-family: Futura Bold;
}

.content img {
	position: relative;
	top: 100px;
	left: 80px;
}

.text {
	position: relative;
	top: -380px;
	left: 700px;
}

.button img{
	width: 150px;
	position: relative;
	margin-right: 20px;
	top: -350px;
	left: 650px;
}

.footer {
	background-color: #e3e3e3;
	display: flex;
	height: 190px;
	align-items: center;
}

.footer h4 {
	font-size: 18px;
	font-family: Futura Bold;
	color: gray;
}

.footer h6 {
	font-size: 16px;
	font-family: sans-serif;
	color: gray;
}

.phone {
	display: flex;
	flex-direction: column;
	margin-left: 320px;
}

.Email {
	display: flex;
	flex-direction: column;
	margin-left: 350px;
}

.content_resume{
	background-color: #f3f3f3;
}

.resume_img, .school_img {
	display: flex;
    align-items: center;
    justify-content: center;
}

.content_resume h2, .content_projects h2, .content_school h2 {
	font-size: 40px;
	font-family: Futura;
	padding: 50px 150px;
}

.content_resume img{
	width: 700px;
	margin: 30px;
}

<!-- CSS -->
.contact {
	height:750px;
	padding-top: 100px;
	background-image: url(../img/contact_bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: top center;
}

.contact .title {
	color:#ffffff;
}

.contact .form {
	max-width: 600px;
	margin:0 auto;
	padding: 0 30px;
	color:#ffffff;
}

.form input {
	height: 40px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border:0px;
	padding: 12px;
	resize: vertical;
	color: #000000;
	margin:7.5px 0;
}

.form textarea {
	height: 200px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border:0px;
	padding: 12px;
	resize: vertical;
	color: #000000;
	margin:7.5px 0;
}

input[type=submit] {
  background-color: #ABD0CE;
  color: white;
  cursor: pointer;
  width: 100px!important;
  height: 48px;
}

input[type=submit]:hover {
  background-color: #8ABCB8;
}

.contact h2 {
	font-size: 40px;
	font-family: Futura;
	margin-top: 50px;
	color: gray;
	display: flex;
	justify-content: center;
}

.b1, .b2, .b3, .b4 {
	display: flex;
	justify-content: center;
} 

 .b1 img, .b2 img, .b3 img, .b4 img {
	margin-bottom: 80px;
	margin-top: 10px;
	width: 350px;
}


.content_projects {
	background-color: #f3f3f3;
}

.text1, .text2, .text3, .text4 {
	display: flex;
	flex-direction: column;
	padding: 220px 0 0 30px;
	width: 400px;
}

.school_img img {
	width: 70%;
	padding-bottom: 80px;
}

.content_school {
	background-color: #f3f3f3;
	height: auto;
}

.carousel .carousel-item img {
  object-fit: cover;
}

.container_photo, .container_uxui {
	padding-bottom: 80px;
}

.container_art {
	width: 50%;
	position: relative;
	left: 320px;
	padding-bottom: 80px;
}